.cursor-pointer {
	cursor: pointer;
}

.top-0 {
	top: 0;
}

.left-0 {
	left: 0;
}

.right-0 {
	right: 0;
}

.z-index--100 {
	z-index: -100;
}

.z-index-99 {
	z-index: 99;
}

.z-index-101 {
	z-index: 101;
}

.z-index-100 {
	z-index: 100;
}

.z-index-1900 {
	z-index: 1900;
}

.z-index-1901 {
	z-index: 1901;
}

.z-index-1902 {
	z-index: 1902;
}

.font-size-1em {
	font-size: 1em;
	line-height: 1.5;
}

.border-transparent {
	border-color: transparent
}

.border-white {
	border-color: white !important;
}

.pp-bg-cl {
	background: #8c3bf2;
}

.transition-normal {
	transition: 0.3s all ease;
}

.outline-0 {
	outline: none !important;
}

.box-shadow-none {
	box-shadow: none !important
}

.loader--background {
	background-color: #ffde54;
}

#loginSite {
	max-width: 420px;
	width: 100%;
}

.left-100 {
	left: 100%;
}

.opacity-0 {
	opacity: 0;
}